.bx--grid {
  background-color: white;
  border: 0.05rem !important;
  border-color: #dfe3e6 !important;
  border-radius: 10px;
  border-style: solid !important;
  padding: 2rem;
}

.app-title {
  margin-bottom: 1rem;
  text-align: center;
}

.content-switcher {
 justify-content: center;
 margin-bottom: 1rem;
}

.home-paragraph {
  margin-top: 1rem !important;
  text-align: center;
}
