div.announcement {
  background-color: #272d33;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p.announcement {
  color: white;
  font-size: 0.875rem;
  margin-bottom: auto;
  margin-top: auto;
}

Button.announcement {
  border-color: white;
  color: white;
  font-size: 0.875rem;
  height: 1.875rem;
  min-height: 1.875rem;
}

Button.announcement:hover {
  background-color: white;
  color: #272d33;
}

div.bx--grid {
  max-width: 1600px;
}

div.header {
  background-color: #f6f6f6;
  border-bottom: 0.1rem solid #047cc0;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
}

h1.header {
  display: inline-block;
  font-size: 3rem;
  line-height: normal;
  vertical-align: middle;
}

.content-switcher {
  justify-content: center;
  margin-top: 2.5rem;
}

div.heading {
  border-top: 0.25rem solid #047cc0;
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 5rem;
}

h2.heading {
  margin-bottom: 2.5rem;
}

footer.footer {
  position: relative;
  background-color: #f6f6f6;
  margin-top: 5rem;
}
